.img-carousel {
  display: flex;
  box-shadow: 1px 1px 10px 0 rgb(146, 142, 142);
  border-radius: 15px;
  overflow: hidden;
}

.img-carousel__arrow {
  background-color: hsl(0, 11%, 64%);
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6ch;
}

.img-carousel__arrow:hover {
  background-color: hsl(0, 11%, 60%);
}

.img-carousel__arrow:active {
  background-color: hsl(0, 11%, 50%);
  fill: hsl(0, 0%, 90%);
}

.img-carousel__frame {
  width: 600px;
  height: 500px;
  background-color: hsl(0, 11%, 64%);
  position: relative;
  z-index: -2;
}

.img-carousel__reel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  display: flex;
  align-items: center;
  transition: left 0.4s ease-in-out;
}

.img-carousel__slide {
  border-radius: 10px;
  height: auto;
  width: 600px;
}
